* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 80vw;
    margin: auto;
}
#logo-nav-div{
    width: 100%;
    height: 8vh;
    margin-bottom: 10px;

}

.clearfix {
    content: "";
    display: block;
    clear: both;
}
#logo-div {
    width: 40%;
    min-height: 8vh;
    line-height: 8vh;
    background-color: lightgray;
    float: left;
    padding-left: 2%;
}
#nav-div {
    width: 60%;
    min-height: 8vh;
    line-height: 8vh;
    background-color: lightgray;
    float: right;
}
#header-banner-div {
    width: 100%;
    min-height: 20vh;
    line-height: 20vh;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 1vh;
}
#area-div {
    width: 100%;
    min-height: 18vh;
    background-color: lightgray;
    line-height: 18vh;
    text-align: center;
    margin-bottom: 1vh;
}

#main {
    width: 100%;
    height: 35vh;
    margin-bottom: 2vh;
}

.box1 {
    width: 30%;
    min-height: 35vh;
    line-height: 35vh;
    float: left;
    background-color: lightgrey;
    text-align: center;
    
} 

.box {
    width: 30%;
    min-height: 35vh;
    float: left;
    background-color: lightgrey;
    margin-left: 5%;
    text-align: center;
    line-height: 35vh;

} 
#footer {
    width: 100%;
    height: 10vh;
    background-color: lightgray;
    line-height: 10vh;
    text-align: center;
}